<h1>
  {{ title }}
</h1>
<div>

  <gl-info-profile-form #infoForm
                        [isReadOnly]="false"
                        [markedList]="listFormMarked"
                        [editMode]="isEditMode.asObservable()"
                        [sourceList]="listFormSource"
                        (create)="create($event)">
  </gl-info-profile-form>

  <gl-confirmation-modal #confirmModal [modalData]="modalData"></gl-confirmation-modal>
</div>

<!-- content loader -->
<ng-template #loading>
  <gl-content-loader></gl-content-loader>
</ng-template>
