<h1>
  {{ title }}
</h1>
<br>
<!-- content tabs -->
<div>

  <clr-tabs>

    <!-- Info -->
    <clr-tab>
      <button clrTabLink id="link1">Profile</button>
      <clr-tab-content>
        <gl-info-form [isReadOnly]="false"
                      (create)="create($event)"></gl-info-form>
      </clr-tab-content>
    </clr-tab>

    <!-- Courses -->
    <clr-tab>
      <button clrTabLink>Courses</button>
      <clr-tab-content>
        <gl-courses-form #teacherCourses [isReadOnly]="false"></gl-courses-form>
      </clr-tab-content>
    </clr-tab>

  </clr-tabs>

  <gl-confirmation-modal #confirmModal [modalData]="modalData"></gl-confirmation-modal>
</div>

<!-- content loader -->
<ng-template #loading>
  <gl-content-loader></gl-content-loader>
</ng-template>
