<clr-dropdown [clrCloseMenuOnItemClick]="false" *ngIf="account | async as accountInfo; else noAccount">
  <button type="button" clrDropdownTrigger>
    {{accountInfo.name}} <clr-icon shape="caret down"></clr-icon>
  </button>
  <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
    <ng-container>
      <button type="button" clrDropdownItem (click)="showAccountInfo()"><clr-icon shape="user">
        </clr-icon> Account
      </button>
      <button type="button" clrDropdownItem (click)="logout()">
        <clr-icon shape="logout"></clr-icon> Logout
      </button>
    </ng-container>
    <ng-template #noAccount>
      <button type="button" clrDropdownItem (click)="logout()">
        <clr-icon shape="logout"></clr-icon> Logout
      </button>
    </ng-template>
  </clr-dropdown-menu>
</clr-dropdown>

<ng-template #noAccount>
  <div class="spinner spinner-inverse spinner-sm"></div>
</ng-template>
