<div *ngIf="dataSource | async as storeData; else loading">
  <h1>
    {{ title }}
    <button *ngIf="isAdministrator" class="btn btn-sm btn-primary" (click)="create()">New Course</button>
    <div *ngIf="storeData.loading" class="spinner spinner-sm"></div>
  </h1>
  <hr>

<!-- content cards -->
  <div class="container-fluid">
    <div class="row">
      <div class="card-columns">
        <gl-course-card *ngFor="let course of storeData.data; trackBy: trackByItem;"
                        [course]="course"
                        [isAdministrator]="isAdministrator"
                        (onDelete)="delete($event)"
                        (onEdit)="edit($event)"
                        (onView)="details($event)"
                        (onToggle)="toggleStatus($event)">
        </gl-course-card>
      </div>
    </div>
  </div>
  <gl-confirmation-modal #confirmModal [modalData]="modalData"></gl-confirmation-modal>
</div>

<!-- content loader -->
<ng-template #loading>
  <gl-content-loader></gl-content-loader>
</ng-template>



