<div class="card">
  <div class="card-header" [ngClass]="{'content-disabled': !course.active}" (click)="viewCourse(course)">
    {{ course.title | capitalize }}
  </div>
  <div class="card-block">
    <div class="card-text" [ngClass]="{'content-disabled': !course.active}">
      {{ course.detail | truncate : 300 | capitalize }}
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-sm btn-link" (click)="viewCourse(course)">view</button>
    <div class="admin-actions">
      <ng-container *ngIf="isAdministrator">
        <div class="toggle-switch">
          <input #checkBoxStatus type="checkbox" [id]="course.id" [checked]="course.active" (change)="toggle(course)">
          <label [for]="course.id"></label>
        </div>
        <button class="btn btn-sm btn-link" (click)="delete(course)">
          <clr-icon shape="trash"></clr-icon>
        </button>
        <button class="btn btn-sm btn-link" (click)="editCourse(course)">
          <clr-icon shape="pencil"></clr-icon>
        </button>
      </ng-container>
      <button class="btn btn-sm btn-link _default-cursor">
        <clr-icon shape="users"></clr-icon> {{course.students ? course.students.length : 0}}
      </button>
    </div>

  </div>
</div>
