<clr-modal #modal>
  <div class="modal-title account-title" *ngIf="modalData">
    {{(modalData) ? modalData.name : ""}}<hr>
  </div>
  <div class="modal-body account-body">
    <div *ngIf="modalData">
      <p>
        <label>Name:</label>
        {{modalData.name}}
      </p>
      <p>
        <label>Email:</label>
        {{modalData.email}}
      </p>
      <p>
        <label>Role:</label>
        {{modalData.role}}
      </p>
    </div>
  </div>
  <div class="modal-footer" *ngIf="modalData">
    <button type="button"
            (click)="close()"
            class="btn ok-btn btn-primary" >
      Ok
    </button>
  </div>
</clr-modal>
