<clr-main-container *ngIf="isAuthorized | async; else login">

  <!-- app alert level -->
  <gl-alerts></gl-alerts>

  <!-- app header - branding -->
  <gl-header></gl-header>

  <!-- app contents -->
  <div class="content-container">

    <!-- app main content -->
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>

    <!-- app side nav -->
    <nav class="sidenav" [clr-nav-level]="1">
      <gl-side-nav></gl-side-nav>
    </nav>

  </div>
</clr-main-container>

<!-- Login component -->
<ng-template #login>
  <router-outlet></router-outlet>
</ng-template>
