<!-- content tabs -->
<div *ngIf="source | async as courseInfo; else loading">

  <h1>
    {{courseInfo.title}}&nbsp;<br>

    <div class="btn-group" *ngIf="isAdministrator" >
      <!-- content edit -->
      <button class="btn btn-sm" [ngClass]="{'btn-primary': editMode, 'btn-outline': !editMode}" (click)="toggleEditMode()">
        <clr-icon shape="pencil"></clr-icon> Edit
      </button>

      <!-- content delete -->
      <button class="btn btn-sm btn-danger" (click)="delete(courseInfo)">
        <clr-icon shape="trash"></clr-icon> Delete
      </button>
    </div>
  </h1>

  <!-- course info -->
  <gl-course-detail-form #infoForm
                         [info]="courseInfo"
                         [isReadOnly]="!(isAdministrator && editMode)"
                         [markedList]="listFormMarked"
                         [editMode]="isEditMode.asObservable()"
                         [sourceList]="listFormSource"
                         (update)="update($event)">
  </gl-course-detail-form>

  <gl-confirmation-modal #confirmModal [modalData]="modalData"></gl-confirmation-modal>
</div>

<!-- content loader -->
<ng-template #loading>
  <gl-content-loader></gl-content-loader>
</ng-template>
