<!-- content tabs -->
<div *ngIf="source | async as courseInfo; else loading">

  <h1>
    {{courseInfo.title}}&nbsp;<br>
    <!-- content edit -->
    <div class="btn-group" *ngIf="isAdministrator" >
      <button class="btn btn-sm" [ngClass]="{'btn-primary': editMode, 'btn-outline': !editMode}" (click)="toggleEditMode()">
        <clr-icon shape="pencil"></clr-icon> Edit
      </button>
      <!-- content delete -->
      <button class="btn btn-sm btn-danger" (click)="delete(courseInfo)">
        <clr-icon shape="trash"></clr-icon> Delete
      </button>
    </div>
  </h1>
  <br>

  <clr-tabs>

    <!-- Info -->
    <clr-tab>
      <button clrTabLink id="link1">Info</button>
      <clr-tab-content>
        <gl-course-detail-form [info]="courseInfo"
                        [isReadOnly]="!(isAdministrator && editMode)"
                        (update)="update($event)"></gl-course-detail-form>
      </clr-tab-content>
    </clr-tab>

    <!-- Students -->
    <clr-tab *ngIf="courseInfo.active || isAdministrator">
      <button clrTabLink>Students</button>
      <clr-tab-content>
        <gl-students-list-form #listForm
                            [markedList]="listFormMarkeds"
                            [editMode]="isEditMode.asObservable()"
                            [sourceList]="listFormSource"></gl-students-list-form>
      </clr-tab-content>
    </clr-tab>

  </clr-tabs>

  <gl-confirmation-modal #confirmModal [modalData]="modalData"></gl-confirmation-modal>
</div>

<!-- content loader -->
<ng-template #loading>
  <gl-content-loader></gl-content-loader>
</ng-template>
