<!-- content tabs -->
<div *ngIf="source | async as studentInfo; else loading">

  <h1>
    {{studentInfo.info.first_name}} {{studentInfo.info.last_name}}&nbsp;<br>
    <!-- content edit -->
    <div class="btn-group" *ngIf="isAdministrator" >
      <button class="btn btn-sm" [ngClass]="{'btn-primary': editMode, 'btn-outline': !editMode}" (click)="toggleEditMode()">
        <clr-icon shape="pencil"></clr-icon> Edit
      </button>
      <!-- content delete -->
      <button class="btn btn-sm btn-danger" (click)="delete(studentInfo.info)">
        <clr-icon shape="trash"></clr-icon> Delete
      </button>
    </div>
  </h1>
  <br>

  <clr-tabs>

    <!-- Info -->
    <clr-tab>
      <button clrTabLink id="link1">Profile</button>
      <clr-tab-content>
        <gl-info-profile-form [info]="{info: studentInfo.info, profile: studentInfo.profile}"
                              [isReadOnly]="!(isAdministrator && editMode)"
                              (update)="update($event)">
        </gl-info-profile-form>
      </clr-tab-content>
    </clr-tab>

    <!-- Courses -->
    <clr-tab>
      <button clrTabLink>Courses</button>
      <clr-tab-content>
        <gl-courses-list-form #listForm
                              [sourceList]="listFormSource"
                              [markedList]="listFormMarked"
                              [editMode]="isEditMode.asObservable()">
        </gl-courses-list-form>
      </clr-tab-content>
    </clr-tab>

  </clr-tabs>

  <gl-confirmation-modal #confirmModal [modalData]="modalData"></gl-confirmation-modal>
</div>

<!-- content loader -->
<ng-template #loading>
  <gl-content-loader></gl-content-loader>
</ng-template>
