<!-- content tabs -->
<div *ngIf="info | async as studentInfo; else loading">

  <h1>
    {{studentInfo.info.first_name}} {{studentInfo.info.last_name}}&nbsp;
    <!-- content edit -->
    <ng-container *ngIf="isAdministrator" >
      <button class="btn btn-sm" [ngClass]="{'btn-primary': editMode, 'btn-outline': !editMode}" (click)="toggleEditMode()">
        <clr-icon shape="pencil"></clr-icon> Edit
      </button>
      <!-- content delete -->
      <button class="btn btn-sm btn-danger" (click)="delete(studentInfo.info)">
        <clr-icon shape="trash"></clr-icon> Delete
      </button>
    </ng-container>
  </h1>
  <br>

  <!-- content alert -->
  <gl-content-alert *ngIf="alert" [content]="alert"></gl-content-alert>

  <clr-tabs>

    <!-- Info -->
    <clr-tab>
      <button clrTabLink id="link1">Profile</button>
      <clr-tab-content>
        <gl-info-form [info]="{info: studentInfo.info, profile: studentInfo.profile}"
                      [isReadOnly]="!(isAdministrator && editMode)"
                      (update)="update($event)"></gl-info-form>
      </clr-tab-content>
    </clr-tab>

    <!-- Courses -->
    <clr-tab>
      <button clrTabLink>Courses</button>
      <clr-tab-content>
        <gl-courses-form #studentCourses
                         [link]="studentInfo.info.id"
                         [isReadOnly]="!(isAdministrator && editMode)"></gl-courses-form>
      </clr-tab-content>
    </clr-tab>

  </clr-tabs>

  <gl-confirmation-modal #confirmModal [modalData]="modalData"></gl-confirmation-modal>
</div>

<!-- content loader -->
<ng-template #loading>
  <gl-content-loader></gl-content-loader>
</ng-template>
