<!-- content tabs -->
<div *ngIf="info | async as studentInfo; else loading">

  <h1>
    {{studentInfo.info.first_name}} {{studentInfo.info.last_name}}
    <!-- content delete -->
    <button class="btn btn-sm btn-danger" (click)="delete(studentInfo.info)">
      <clr-icon shape="trash"></clr-icon> Delete
    </button>
  </h1>
  <hr>

  <!-- content alert -->
  <gl-content-alert *ngIf="alert" [content]="alert"></gl-content-alert>

  <clr-tabs>

    <!-- Info -->
    <clr-tab>
      <button clrTabLink id="link1">Profile</button>
      <clr-tab-content id="content1" *clrIfActive>
        <gl-info-form [info]="{info: studentInfo.info, profile: studentInfo.profile}"
                      [isReadOnly]="!isAdministrator"
                      (update)="update($event)"></gl-info-form>
      </clr-tab-content>
    </clr-tab>

    <!-- Courses -->
    <clr-tab>
      <button clrTabLink>Courses</button>
      <clr-tab-content>
        <gl-single-student-courses-form #studentCourses
                                        [studentCourses]="studentInfo.courses"
                                        [isReadOnly]="!isAdministrator"></gl-single-student-courses-form>
      </clr-tab-content>
    </clr-tab>

  </clr-tabs>

  <gl-confirmation-modal #confirmModal [modalData]="modalData"></gl-confirmation-modal>
</div>

<!-- content loader -->
<ng-template #loading>
  <gl-content-loader></gl-content-loader>
</ng-template>
