<div class="login-wrapper">
  <form class="login" [formGroup]="form" (ngSubmit)="onSubmit()">
    <label class="title">
      <h3 class="welcome">greeting</h3>
      product
      <h5 class="hint">hint</h5>
    </label>
    <div class="login-group">
      <input formControlName="username"
             class="username" type="text" id="login_username" placeholder="Username">
      <input formControlName="password"
             class="password" type="password" id="login_password" placeholder="Password">
      <div class="checkbox">
        <input type="checkbox" id="rememberme">
        <label for="rememberme">
          remember
        </label>
      </div>
      <div class="error active">
        Invalid user name or password
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!form.valid">login</button>
    </div>
  </form>
</div>
