<h1>
  {{ title }}<br>
  <div class="btn-group btn-primary" *ngIf="isAdministrator" >
    <button class="btn btn-sm"
            (click)="navigateTo(routes.courses.path+'/'+routes.courses.childs.create.path)">Create new Course</button>
    <button class="btn btn-sm"
            (click)="navigateTo(routes.students.path+'/'+routes.students.childs.create.path)">Add new Student</button>
    <button class="btn btn-sm"
            (click)="navigateTo(routes.teachers.path+'/'+routes.teachers.childs.create.path)">Add new Teacher</button>
  </div>
</h1>

<hr>

<div class="row db-row">
  <div class="col-sm-12 col-md-6 db-col">
    <div class="db-col-content-wrapper">
      <div class="db-col-content-container _db-card">
        <div class="content"><gl-most-popular-course></gl-most-popular-course></div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 db-col">
    <div class="db-col-content-wrapper">
      <div class="db-col-content-container _db-card" (click)="navigateTo(routes.courses.path)">
        <div class="content">
          <gl-generic-amount [title]="'dashboard.courses'"
                             [data]="totalCourses"
                             [link]=""></gl-generic-amount>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row db-row">
  <div class="col-sm-12 col-md-6 db-col">
    <div class="db-col-content-wrapper">
      <div class="db-col-content-container _db-card" (click)="navigateTo(routes.teachers.path)">
        <div class="content">
          <gl-generic-amount [title]="'dashboard.teachers'"
                             [data]="totalTeachers"></gl-generic-amount>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 db-col">
    <div class="db-col-content-wrapper">
      <div class="db-col-content-container _db-card" (click)="navigateTo(routes.students.path)">
        <div class="content">
          <gl-generic-amount [title]="'dashboard.students'"
                             [data]="totalStudents"></gl-generic-amount>
        </div>
      </div>
    </div>
  </div>
</div>
