.db-row {
  min-height: 50%;
}

.db-col-content-wrapper {
  height: 100%;
  padding-top: 2.5%;
}

.db-col-content-container {
  border: 10px solid;
  border-color: #ccc;
  height: 95%;
  width: 95%;
  margin: 0 auto;
  padding: 10px;
  box-shadow: 5px 5px dimgrey;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.db-col-content-container .content {
  width: fit-content;
  margin: 0 auto;
}


