<clr-modal #modal>
  <h3 class="modal-title">
    {{(data) ? data.title : ""}}
    <span *ngIf="data && data.isBusy" class="spinner spinner-sm"></span>
  </h3>
  <div class="modal-body">
    <p>{{(data) ? data.text : ""}}</p>
  </div>
  <div class="modal-footer" *ngIf="data">
    <button type="button" class="btn btn-outline"
            [disabled]="data.isBusy"
            (click)="close()">Cancel</button>
    <button type="button"
            (click)="onOkClicked()"
            [disabled]="data.isBusy"
            [class]="(data && data.type === 'delete') ?
                'btn ok-btn btn-warning' : 'btn ok-btn btn-primary'" >
      <clr-icon *ngIf="data.type === 'delete'" shape="trash"></clr-icon>
      {{data.type === 'delete' ? 'delete' : 'ok'}}
    </button>
  </div>
</clr-modal>
