<!-- content tabs -->
<div *ngIf="info | async as teacherInfo; else loading">

  <h1>
    {{teacherInfo.info.first_name}} {{teacherInfo.info.last_name}}&nbsp;<br>
    <!-- content delete -->
    <div class="btn-group" *ngIf="isAdministrator" >
      <button class="btn btn-sm" [ngClass]="{'btn-primary': editMode, 'btn-outline': !editMode}" (click)="toggleEditMode()">
        <clr-icon shape="pencil"></clr-icon> Edit
      </button>
      <!-- content delete -->
      <button class="btn btn-sm btn-danger" (click)="delete(teacherInfo.info)">
        <clr-icon shape="trash"></clr-icon> Delete
      </button>
    </div>
  </h1>
  <br>

  <clr-tabs>

    <!-- Info -->
    <clr-tab>
      <button clrTabLink id="link1">Profile</button>
      <clr-tab-content>
        <gl-info-profile-form [infoProfile]="{info: teacherInfo.info, profile: teacherInfo.profile}"
                              [isReadOnly]="!(isAdministrator && editMode)"
                              (update)="update($event)"></gl-info-profile-form>
      </clr-tab-content>
    </clr-tab>

    <!-- Courses -->
    <clr-tab>
      <button clrTabLink>Courses</button>
      <clr-tab-content>
        <p>Note: If you select a Course which already has a Teacher it will be updated and assigned to you.</p>
        <gl-courses-list-form #courses
                              [sourceList]="allCourses"
                              [markedList]="markedCourses"
                              [editMode]="isEditMode.asObservable()">
        </gl-courses-list-form>
      </clr-tab-content>
    </clr-tab>

  </clr-tabs>

  <gl-confirmation-modal #confirmModal [modalData]="modalData"></gl-confirmation-modal>
</div>

<!-- content loader -->
<ng-template #loading>
  <gl-content-loader></gl-content-loader>
</ng-template>
