<!-- content tabs -->
<div *ngIf="info | async as teacherInfo; else loading">

  <h1>
    {{teacherInfo.info.first_name}} {{teacherInfo.info.last_name}}
    <!-- content delete -->
    <button *ngIf="isAdministrator" class="btn btn-sm btn-danger" (click)="delete(teacherInfo.info)">
      <clr-icon shape="trash"></clr-icon> Delete
    </button>
  </h1>
  <br>

  <!-- content alert -->
  <gl-content-alert *ngIf="alert" [content]="alert"></gl-content-alert>

  <clr-tabs>

    <!-- Info -->
    <clr-tab>
      <button clrTabLink id="link1">Profile</button>
      <clr-tab-content>
        <gl-info-form [info]="{info: teacherInfo.info, profile: teacherInfo.profile}"
                      [isReadOnly]="!isAdministrator"
                      (update)="update($event)"></gl-info-form>
      </clr-tab-content>
    </clr-tab>

    <!-- Courses -->
    <clr-tab>
      <button clrTabLink>Courses</button>
      <clr-tab-content>
        <p>Note: If you select a Course which already has a Teacher it will be updated and assigned to you.</p>
        <gl-courses-form #courses
                         [markedCourses]="teacherInfo.info.courses"
                         [isReadOnly]="!isAdministrator"></gl-courses-form>
      </clr-tab-content>
    </clr-tab>

  </clr-tabs>

  <gl-confirmation-modal #confirmModal [modalData]="modalData"></gl-confirmation-modal>
</div>

<!-- content loader -->
<ng-template #loading>
  <gl-content-loader></gl-content-loader>
</ng-template>
